# Local Development Server URL
VITE_SERVER_ORIGIN=http://localhost:5000

# Production Server URL
# Replace this with your actual production domain during deployment
VITE_PRODUCTION_SERVER_ORIGIN=https://rizo99.serv00.net/